<a href="https://colab.research.google.com/github/pikachu28/Sentiment_Analysis_of_movie_review/blob/master/TestingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

##**Testing Data**
LINK Of neg_reveiws--> https://github.com/shubham721/Sentiment-Analysis-On-Hindi-Reviews/blob/master/neg_hindi.txt

LINK Of pos_reviews-->https://github.com/shubham721/Sentiment-Analysis-On-Hindi-Reviews/blob/master/pos_hindi.txt

##Loading Datasets

In [ ]:
#Dataset  for positive hindi reviews
df_pos = pd.read_csv('/content/sample_data/pos_hindi.txt',header=None,error_bad_lines=False)

b'Skipping line 3: expected 1 fields, saw 4\nSkipping line 6: expected 1 fields, saw 2\nSkipping line 21: expected 1 fields, saw 4\nSkipping line 24: expected 1 fields, saw 2\nSkipping line 48: expected 1 fields, saw 2\nSkipping line 55: expected 1 fields, saw 3\nSkipping line 58: expected 1 fields, saw 2\nSkipping line 69: expected 1 fields, saw 2\nSkipping line 75: expected 1 fields, saw 2\nSkipping line 77: expected 1 fields, saw 4\nSkipping line 78: expected 1 fields, saw 2\nSkipping line 93: expected 1 fields, saw 2\nSkipping line 94: expected 1 fields, saw 2\nSkipping line 95: expected 1 fields, saw 2\nSkipping line 97: expected 1 fields, saw 2\nSkipping line 104: expected 1 fields, saw 2\nSkipping line 115: expected 1 fields, saw 2\nSkipping line 116: expected 1 fields, saw 2\nSkipping line 121: expected 1 fields, saw 2\nSkipping line 136: expected 1 fields, saw 2\nSkipping line 137: expected 1 fields, saw 2\nSkipping line 157: expected 1 fields, saw 3\nSkipping line 175: expected 1 fields, saw 3\nSkipping line 200: expected 1 fields, saw 2\nSkipping line 203: expected 1 fields, saw 2\nSkipping line 212: expected 1 fields, saw 3\nSkipping line 221: expected 1 fields, saw 2\nSkipping line 229: expected 1 fields, saw 2\nSkipping line 237: expected 1 fields, saw 2\nSkipping line 243: expected 1 fields, saw 3\nSkipping line 257: expected 1 fields, saw 2\nSkipping line 258: expected 1 fields, saw 2\nSkipping line 260: expected 1 fields, saw 2\nSkipping line 274: expected 1 fields, saw 3\nSkipping line 277: expected 1 fields, saw 2\nSkipping line 283: expected 1 fields, saw 2\nSkipping line 320: expected 1 fields, saw 2\nSkipping line 321: expected 1 fields, saw 2\nSkipping line 323: expected 1 fields, saw 2\nSkipping line 339: expected 1 fields, saw 2\nSkipping line 351: expected 1 fields, saw 2\nSkipping line 353: expected 1 fields, saw 2\nSkipping line 356: expected 1 fields, saw 2\nSkipping line 360: expected 1 fields, saw 2\nSkipping line 368: expected 1 fields, saw 2\nSkipping line 374: expected 1 fields, saw 2\nSkipping line 391: expected 1 fields, saw 2\nSkipping line 394: expected 1 fields, saw 2\nSkipping line 400: expected 1 fields, saw 3\nSkipping line 401: expected 1 fields, saw 2\nSkipping line 407: expected 1 fields, saw 2\nSkipping line 410: expected 1 fields, saw 3\nSkipping line 421: expected 1 fields, saw 2\nSkipping line 434: expected 1 fields, saw 2\nSkipping line 451: expected 1 fields, saw 2\nSkipping line 457: expected 1 fields, saw 2\nSkipping line 461: expected 1 fields, saw 2\nSkipping line 476: expected 1 fields, saw 2\nSkipping line 483: expected 1 fields, saw 2\nSkipping line 516: expected 1 fields, saw 2\nSkipping line 525: expected 1 fields, saw 2\nSkipping line 532: expected 1 fields, saw 2\nSkipping line 558: expected 1 fields, saw 2\nSkipping line 564: expected 1 fields, saw 2\nSkipping line 573: expected 1 fields, saw 3\nSkipping line 574: expected 1 fields, saw 2\nSkipping line 578: expected 1 fields, saw 2\nSkipping line 580: expected 1 fields, saw 2\nSkipping line 581: expected 1 fields, saw 2\nSkipping line 586: expected 1 fields, saw 2\nSkipping line 587: expected 1 fields, saw 2\nSkipping line 598: expected 1 fields, saw 2\n'

In [ ]:
#Dataset  for negative hindi reviews
df_neg = pd.read_csv('/content/sample_data/neg_hindi.txt',header=None, error_bad_lines=False)

b'Skipping line 5: expected 1 fields, saw 2\nSkipping line 7: expected 1 fields, saw 2\nSkipping line 9: expected 1 fields, saw 4\nSkipping line 16: expected 1 fields, saw 2\nSkipping line 27: expected 1 fields, saw 2\nSkipping line 29: expected 1 fields, saw 2\nSkipping line 30: expected 1 fields, saw 2\nSkipping line 37: expected 1 fields, saw 2\nSkipping line 40: expected 1 fields, saw 2\nSkipping line 42: expected 1 fields, saw 2\nSkipping line 46: expected 1 fields, saw 2\nSkipping line 48: expected 1 fields, saw 2\nSkipping line 49: expected 1 fields, saw 2\nSkipping line 56: expected 1 fields, saw 4\nSkipping line 61: expected 1 fields, saw 2\nSkipping line 68: expected 1 fields, saw 3\nSkipping line 71: expected 1 fields, saw 2\nSkipping line 73: expected 1 fields, saw 2\nSkipping line 96: expected 1 fields, saw 2\nSkipping line 104: expected 1 fields, saw 2\nSkipping line 106: expected 1 fields, saw 2\nSkipping line 110: expected 1 fields, saw 2\nSkipping line 115: expected 1 fields, saw 2\nSkipping line 125: expected 1 fields, saw 2\nSkipping line 126: expected 1 fields, saw 2\nSkipping line 128: expected 1 fields, saw 2\nSkipping line 151: expected 1 fields, saw 2\nSkipping line 155: expected 1 fields, saw 2\nSkipping line 161: expected 1 fields, saw 2\nSkipping line 168: expected 1 fields, saw 2\nSkipping line 175: expected 1 fields, saw 2\nSkipping line 176: expected 1 fields, saw 3\nSkipping line 177: expected 1 fields, saw 2\nSkipping line 184: expected 1 fields, saw 2\nSkipping line 190: expected 1 fields, saw 2\nSkipping line 196: expected 1 fields, saw 2\nSkipping line 197: expected 1 fields, saw 2\nSkipping line 212: expected 1 fields, saw 2\nSkipping line 219: expected 1 fields, saw 2\nSkipping line 238: expected 1 fields, saw 2\nSkipping line 246: expected 1 fields, saw 2\nSkipping line 247: expected 1 fields, saw 2\nSkipping line 254: expected 1 fields, saw 2\nSkipping line 261: expected 1 fields, saw 2\nSkipping line 286: expected 1 fields, saw 2\nSkipping line 293: expected 1 fields, saw 2\nSkipping line 308: expected 1 fields, saw 2\nSkipping line 309: expected 1 fields, saw 2\nSkipping line 315: expected 1 fields, saw 2\nSkipping line 316: expected 1 fields, saw 2\nSkipping line 320: expected 1 fields, saw 2\nSkipping line 328: expected 1 fields, saw 2\nSkipping line 348: expected 1 fields, saw 2\nSkipping line 358: expected 1 fields, saw 2\nSkipping line 361: expected 1 fields, saw 2\nSkipping line 373: expected 1 fields, saw 2\nSkipping line 374: expected 1 fields, saw 3\nSkipping line 376: expected 1 fields, saw 6\nSkipping line 381: expected 1 fields, saw 2\nSkipping line 383: expected 1 fields, saw 5\nSkipping line 386: expected 1 fields, saw 2\nSkipping line 392: expected 1 fields, saw 5\nSkipping line 403: expected 1 fields, saw 3\nSkipping line 408: expected 1 fields, saw 3\nSkipping line 413: expected 1 fields, saw 2\nSkipping line 415: expected 1 fields, saw 3\nSkipping line 419: expected 1 fields, saw 2\nSkipping line 423: expected 1 fields, saw 2\nSkipping line 425: expected 1 fields, saw 2\nSkipping line 427: expected 1 fields, saw 2\nSkipping line 429: expected 1 fields, saw 3\nSkipping line 433: expected 1 fields, saw 2\nSkipping line 436: expected 1 fields, saw 4\nSkipping line 439: expected 1 fields, saw 2\nSkipping line 446: expected 1 fields, saw 4\nSkipping line 450: expected 1 fields, saw 2\nSkipping line 455: expected 1 fields, saw 2\nSkipping line 463: expected 1 fields, saw 5\nSkipping line 467: expected 1 fields, saw 2\nSkipping line 472: expected 1 fields, saw 2\nSkipping line 477: expected 1 fields, saw 3\nSkipping line 481: expected 1 fields, saw 3\nSkipping line 482: expected 1 fields, saw 2\nSkipping line 486: expected 1 fields, saw 3\nSkipping line 490: expected 1 fields, saw 2\nSkipping line 492: expected 1 fields, saw 3\nSkipping line 497: expected 1 fields, saw 3\nSkipping line 499: expected 1 fields, saw 2\nSkipping line 502: expected 1 fields, saw 3\nSkipping line 504: expected 1 fields, saw 2\nSkipping line 508: expected 1 fields, saw 5\nSkipping line 511: expected 1 fields, saw 2\nSkipping line 513: expected 1 fields, saw 2\nSkipping line 519: expected 1 fields, saw 2\nSkipping line 523: expected 1 fields, saw 4\nSkipping line 525: expected 1 fields, saw 2\nSkipping line 532: expected 1 fields, saw 5\nSkipping line 537: expected 1 fields, saw 3\nSkipping line 540: expected 1 fields, saw 4\nSkipping line 544: expected 1 fields, saw 2\nSkipping line 547: expected 1 fields, saw 7\nSkipping line 564: expected 1 fields, saw 3\nSkipping line 566: expected 1 fields, saw 2\nSkipping line 572: expected 1 fields, saw 2\nSkipping line 576: expected 1 fields, saw 2\nSkipping line 580: expected 1 fields, saw 2\nSkipping line 584: expected 1 fields, saw 2\n'

##Data Preprocessing

In [ ]:
df_neg.head()

                                                   0
0  फिल्म देखने के बाद न सिर्फ उम्मीदें धराशायी हु...
1  $उनके अभिनय में इंटेसिंटी तो है लेकिन किरदार स...
2  $एली अबराम को फिल्म में महज ग्लैमर ऐड करने के ...
3                $ बाकी के भी किरदार अति सामान्य हैं
4        $ तकनीकी गुणवत्ता की भी कमियां दिख सकती हैं

In [ ]:
df_neg.rename(columns={0:'Text'}, inplace=True)
df_pos.rename(columns={0:'Text'}, inplace=True)

In [ ]:
df_neg.head()

                                                Text
0  फिल्म देखने के बाद न सिर्फ उम्मीदें धराशायी हु...
1  $उनके अभिनय में इंटेसिंटी तो है लेकिन किरदार स...
2  $एली अबराम को फिल्म में महज ग्लैमर ऐड करने के ...
3                $ बाकी के भी किरदार अति सामान्य हैं
4        $ तकनीकी गुणवत्ता की भी कमियां दिख सकती हैं

In [ ]:
df_pos.head()

                                                Text
0  मिकी वाइरस पूरी तरह से मनीष पॉल की फिल्म है और...
1            $मनीष ने अपने किरकार को बखूबी निभाया है
2          $वे हर भाव के दृश्यों में नैचुरल लगते हैं
3                      $फिल्म की कास्टिंग जबरदस्त है
4                  $ फिल्म के कोर्ट रूम सीन रियल हैं

In [ ]:
df_neg['sentiment'] = 'negative'
df_pos['sentiment'] = 'postive'

In [ ]:
df_pos.head()

                                                Text sentiment
0  मिकी वाइरस पूरी तरह से मनीष पॉल की फिल्म है और...   postive
1            $मनीष ने अपने किरकार को बखूबी निभाया है   postive
2          $वे हर भाव के दृश्यों में नैचुरल लगते हैं   postive
3                      $फिल्म की कास्टिंग जबरदस्त है   postive
4                  $ फिल्म के कोर्ट रूम सीन रियल हैं   postive

In [ ]:
df_neg.head()

                                                Text sentiment
0  फिल्म देखने के बाद न सिर्फ उम्मीदें धराशायी हु...  negative
1  $उनके अभिनय में इंटेसिंटी तो है लेकिन किरदार स...  negative
2  $एली अबराम को फिल्म में महज ग्लैमर ऐड करने के ...  negative
3                $ बाकी के भी किरदार अति सामान्य हैं  negative
4        $ तकनीकी गुणवत्ता की भी कमियां दिख सकती हैं  negative

In [ ]:
df = pd.concat([df_pos, df_neg])

In [ ]:
df

                                                  Text sentiment
0    मिकी वाइरस पूरी तरह से मनीष पॉल की फिल्म है और...   postive
1              $मनीष ने अपने किरकार को बखूबी निभाया है   postive
2            $वे हर भाव के दृश्यों में नैचुरल लगते हैं   postive
3                        $फिल्म की कास्टिंग जबरदस्त है   postive
4                    $ फिल्म के कोर्ट रूम सीन रियल हैं   postive
..                                                 ...       ...
399                  $ डीनो फिल्म में विलेन बनकर रह गए  negative
400                $ इंटरवल के बाद फिल्म उलझ जाती है।   negative
401     $मैं गलियों से निकलता हूं फिर भी फंस जाता हूं।  negative
402     $क्लाइमेक्स भी बेवजह खींचा गया महसूस होता है।   negative
403                                                  $  negative

[853 rows x 2 columns]

In [ ]:
from sklearn.utils import shuffle
df = shuffle(df)

In [ ]:
df.index = range(0,len(df))

In [ ]:
import pandas as pd
df = pd.read_excel('/content/sample_data/testing_data.xlsx')

In [ ]:
df['Text'] = df['Text'].str[1:]

In [ ]:
# remove punctuation
import string
df['Text'] = df['Text'].str.replace('[{}]'.format(string.punctuation), '')

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
from nltk.corpus import stopwords

stop = stopwords.words('hindi')
#df['review'] = df['review'].apply(lambda x: [item for item in x if item not in stop])

In [ ]:
import pandas as pd
df = pd.read_excel('/content/sample_data/testing_data.xlsx')

In [ ]:
df.head()

   Unnamed: 0                                               Text sentiment
0           0  इसी मुद्दे पर फ़िल्म बनाने का प्रयास सराहा जाना...   postive
1           1                    उनकी भावभंगिमाओं में अनोखापन है   postive
2           2  जॉन अब्राहम एक्शन दृश्यों में यों भी अच्छे और ...   postive
3           3  दोस्तों को नायक की मौत पर कहानी का अंत एक त्रा...  negative
4           4  कहानी बड़ी होशियारी से अपनी अपील को बच्चों के ...   postive

In [ ]:
df.to_excel("testing_data.xlsx")